@font-face {
	font-family: 'PF Din Comp Pro Regular';
	src: url(pf_din_regular.ttf);
}

header, main {
    margin: 10px;
}

#slogan {
	font: 23px 'PF Din Comp Pro Regular';
}
.short-number {
	text-shadow: 1px 1px 16px #fff;
}

#main-text {
	background: rgba(255, 255, 255, 0.68);
	text-shadow: 1px 1px 16px gray;
}

nav a {
	margin: 6px 10% 0 4%;
	display: inline-block;
	text-shadow: 1px 1px 9px #FFF, 0 0 1em #BBB4B4, 0 0 1.2em #DCDCE6;
}

header {
    margin-top: -3px;
}

#logo {
    font-size: 50px;
}

#phones {
    text-align: right;
    font: 40px 'PF Din Comp Pro Regular';
    margin: -131px 1%;
    float: right;
} #phones a {
    color: lightblue;
    text-shadow: 1px 1px 2px #000;
}

h1 {
	font: 20px 'PF Din Comp Pro Regular';
    text-align: center;
    font-weight: normal;
    font-size: 44px;
}
h2 {
	font: 20px 'PF Din Comp Pro Regular';
	margin-top: 72px;
	text-align: center;
}

#image-background {
	width: 100%;
	position: absolute;
	z-index: -1;
}

section {
    margin: 30px 0 73px;
/*     display: -webkit-box; */
    display: flex;
}
section div {
	font: 20px 'PF Din Comp Pro Regular', Arial, sans-serif;
	text-shadow: 1px 1px 5px #fff;
	height: 118px;
	background-position: top;
	background-repeat: no-repeat !important;
	text-align: center;
}
#about-title {
	font: 32px 'PF Din Comp Pro Regular';
	width: 100%;
	margin-top: 32%;
	color: #fff;
	background: green;
}

#form-desc {
    vertical-align: middle;
    color: #fff;
    padding: 21px;
    height: 1%;
}
#form-desc p {
	background-color: #000;
	opacity: 0.7;
	padding: 15px;
	vertical-align: middle;
	margin-top: -20px;
	font: 23px 'PF Din Comp Pro Regular';
}
#how-much {
	font-size: 30px;
}
form {
    margin-left: auto;
    display: flex;
    border-radius: 14px;
    padding: 20px;
    background: url("images/calc.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    margin-top: -5%;
    margin-bottom: 65px;
}
form div {
    margin-top: 15px;
}
#form {
	font: 23px 'PF Din Comp Pro Regular';
	padding: 18px;    
	background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.action-button {
	background-image: -webkit-linear-gradient(#D6A669, #E67E00);
	background-image: linear-gradient(#D6A669, #E67E00);
	box-shadow: inset 0 0 2px rgba(255,255,255,.2) ,inset 0 0 0 rgba(255,255,255,.2) ,0 2px 0 #C37530 ,0 0 0 #C76414 ,0 0 0 #A9690D ,0 0 0 rgba(0,0,0,.5);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font: 26px 'PF Din Comp Pro Regular';
	font-weight: bold;
	position: relative;
	padding: 3px 27px 0;
	border-radius: 4px;
	color: #FFF;
	line-height: 32px;
	height: 32px;
	text-decoration: none;
	display: inline-flex;
	cursor: pointer;
	transition: all 0.1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}.action-button:hover {
	box-shadow: 0 2px 11px #43F553, 0 1px 8px 1px rgba(0, 0, 0, 0.4);
}.action-button:active {
	transform: translate(0, 5px);
}.center-button {
	display: block;
	width: 137px;
	margin: auto;
}


.review {
    width: 70%;
    height: 193px;
    margin: auto;
    font-style: italic;
}
.name {
	color: gray;
}
.hidden {
    display: none;
}
.arrow {
    font-size: 70px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left {
    margin-top: 3px;
    float: left;
}
.right {
    float: right;
    margin-top: -192px;
}

#brands div {
	display: -webkit-inline-box;
	display: inline-flex;
	margin: 0 88px 34px 40px;
}

#vidal {
	width: 141px;
	height: 30px;
	background: url("images/vidal.jpg");
}#vidal:hover {
	background-position-y: -30px;
}
#bel_tv {
	width: 174px;
	height: 64px;
	background: url("images/bel_tv.jpg");
}#bel_tv:hover {
	background-position-y: -64px;
}
#pharma {
	width: 314px;
	height: 45px;
	background: url("images/pharma.jpg");
}#pharma:hover {
	background-position-y: -45px;
}
#szse {
	width: 104px;
	height: 76px;
	background: url("images/szse.jpg");
}#szse:hover {
	background-position-y: -76px;
}
#miffun {
	width: 140px; 
	height: 45px;
	background: url("images/muffin.jpg");
}#miffun:hover {
	background-position-y: -45px;
}
#private {
	width: 257px;
	height: 44px;
	background: url("images/private.jpg");
}#private:hover {
	background-position-y: -44px;
}
#tarasova {
	width: 88px;
	height: 85px;
	background: url("images/tarasova.jpg");
}#tarasova:hover {
	background-position-y: -85px;
}
#favbet {
	width: 181px;
	height: 65px;
	background: url("images/favbet.jpg");
}#favbet:hover {
	background-position-y: -65px;
}

#map-box {
	background-color: #474747;
	width: 100%;
	height: 500px;
}
#map-box a {
	color: lightblue;
}


html, body, #map {
	background-color: #fff;
    font-family: sans-serif; 
    height: 90%; 
    padding: 0; 
    margin: 0;
}
#map {
	width: 78%;
}
#map-box {
	font: 23px 'PF Din Comp Pro Regular';
	position: absolute;
	background-color: #474747;
	width: 99%;
	height: 71%;
	text-align: right;
	color: #fff;
}

a {
	color: #004E94;
}

p {
	margin: 5px;
}

footer {
	margin: 20px;
	font: 23px 'PF Din Comp Pro Regular';
}

#modal-send-review {
	position: fixed;
	top: 10%;
	left: 0%;
	width: 100%;
	height: 300px;
	background: rgba(0, 0, 0, 0.8);
}
#users-review {
	display: block;
	width: 465px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.button-wide {
	width: 140px;
}
.close {
	color: #fff;
	margin: 10px;
	cursor: pointer;
	float: right;
}
.waiting {
	opacity: 0.5;
}

@media (max-width: 980px) {
	h2 {
		font-size: 50px;
	}
	#about-title {
		margin-top: 15%;
	}
	section {
		padding: 100px 0 80px;
	}
	section div {
		font-size: 200%;
	}
	form {
		width: 97%;
	}
	form div, #how-much {
		font-size: 60px;
	}
	#form-desc p {
		font-size: 40px;
	}
	.action-button {
		font-size: 60px !important;
		width: 346px;
		height: 70px;
		line-height: 81px;
	}
	.action-button-addition {
		margin-top: 90px;
	}
	input {
		font-size: 40px;
	}
	.review {
		font-size: 30px;
		height: 700px;
	}
	.arrow {
		font-size: 150px;
	}
	.right {
		margin-top: -702px;
	}
	#brands div {
		margin: 0 30px 50px 18px;
	}
	#map-box {
		position: initial;
		font-size: 38px;
		text-align: center;
		height: 620px;
		line-height: 60px;
	}
	#map {
		width: 100%;
	}
	footer {
		font-size: 13px;
	}
	#modal-send-review {
		height: 500px;
	}
	form {
		display: initial;
	}
}
