header, main {
    margin: 10px;
}

nav a {
    margin-left: 10%;
}

header {
    margin-top: 16px;
}

#logo {
    font-size: 50px;
}

#phones {
    text-align: right;
    float: right;
    font-size: 30px;   
    margin-top: -120px;
} #prefix {
    font-size: 40px;
}

#phones a {
    display: block;
}

h1 {
    text-align: center;
}
#warranty-text {
    text-align: center;
    font-size: 40px;
    line-height: 0;
}

section {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
section div {
    height: 100px;
}
#about-title {
    width: 751px;
    margin: auto;
    margin-top: 100px;
    background: url('images/about.png') no-repeat center;
    padding-left: 20%;
}
#time {
    background: url("images/time.png") no-repeat center;
}
#stuff {
    background: url("images/staff.png") no-repeat center;
}
#special {
    background: url("images/special.png") no-repeat center;
}
#price {
    background: url("images/price.png") no-repeat center;
}
#warranty {
    background: url("images/warranty.png") no-repeat center;
}
#clients {
    background: url("images/clients.png") no-repeat center;
}


#form-desc {
    font-size: 26px;
    vertical-align: middle;
    margin-top: 100px;
}
form {
    margin-left: auto;
    display: flex;
    border: 5px lightgreen solid;
    border-radius: 14px;
    padding: 20px;
}
form div {
    margin-top: 15px;
}
#form {
    border-left: 7px lightgreen solid;
    padding: 18px;
}
.action-button {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 153, 37)), color-stop(0.49, rgb(228, 144, 71)), color-stop(0.5, rgb(232, 127, 40)), color-stop(1, rgb(212, 108, 5)) );
	box-shadow: inset 0 0 2px rgba(255,255,255,.2) ,inset 0 0 0 rgba(255,255,255,.2) ,0 2px 0 #C37530 ,0 0 0 #C76414 ,0 0 0 #A9690D ,0 0 0 rgba(0,0,0,.5);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding: 3px 27px 0;
	margin: 0 10px 10px 0;
	border-radius: 4px;
	color: #FFF;
	line-height: 26px;
	height: 32px;
	text-decoration: none;
	display: inline-flex;
	cursor: pointer;
	transition: all 0.1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}.action-button:hover {
	box-shadow: 0 2px 11px #43F553, 0 1px 8px 1px rgba(0, 0, 0, 0.4);
}.action-button:active {
	transform: translate(0, 5px);
}


.review {
    width: 70%;
    height: 300px;
    margin: auto;
    font-style: italic;
}
.hidden {
    display: none;
}
.arrow {
    font-size: 70px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left {
    margin-top: 3px;
    float: left;
}
.right {
    float: right;
    margin-top: -300px;
}




html, body, #map {
    font-family: sans-serif;
    width: 100%; 
    height: 80%; 
    padding: 0; 
    margin: 0;
}